# Introduction

In [1]:
print("hello world")

hello world

In [2]:
print(2+2)
print(4+4)

4
8

In [3]:
print("hello " + "world")

hello world

In [4]:
print("hello world", 2+2, "this is python")
print("hello world", 2+2, "this is python", sep="")

hello world 4 this is python
hello world4this is python

In [5]:
print("hello" + 5)

TypeError: can only concatenate str (not "int") to str

# Variables

In [6]:
# mobile store
price = 900
print("Price of mobile is: $", price, sep="")

Price of mobile is: $900

In [7]:
brand = "Apple"
print("Brand of the mobile is:", brand)

Brand of the mobile is: Apple

In [8]:
ram = 4
print("RAM of the mobile is: ", ram, "GB", sep="")

RAM of the mobile is: 4GB

In [9]:
storage = 128
print("Storage of the mobile is: ", storage, "GB", sep="")

Storage of the mobile is: 128GB

In [10]:
is_billed = True
print(is_billed)

True

In [11]:
type(price)

int

In [12]:
type(brand)

str

In [13]:
type(is_billed)

bool

In [14]:
bill = price + price
print(bill//2) # integer division
print(bill/2) # float division

900
900.0

In [15]:
discount = 15
price_after_discount = price - discount
print(price_after_discount)

885

In [16]:
# implicit conversion
discount = price * 0.045
price_after_discount = price - discount
print(price_after_discount)

859.5

In [17]:
# explicit conversion
type(str(price))

str

# List

In [18]:
brand_list = ["Apple", "LG", "Samsung", "Apple"]
price_list = [900, 850, 875, 1000]
ram_list = [4, 8, 8, 16]
storage_list = [64, 128, 128, 256]

In [19]:
type(brand_list)

list

In [20]:
len(brand_list)

4

In [21]:
min(price_list)

850

In [22]:
max(price_list)

1000

In [23]:
price_list[2]

875

In [24]:
price_list[0:3] # 0 is inclusive and 3 is exclusive

[900, 850, 875]

In [25]:
price_list[-1]

1000

In [26]:
brand_list[3] = "Motorola"
brand_list

['Apple', 'LG', 'Samsung', 'Motorola']

In [27]:
storage_list.pop()
storage_list

[64, 128, 128]

In [28]:
storage_list.append(512)
storage_list

[64, 128, 128, 512]

# Tuple

In [29]:
storage = (32, 64, 128, 256)
storage

(32, 64, 128, 256)

In [30]:
type(storage)

tuple

In [31]:
storage[0] = 128 # throws error

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [32]:
attributes = {
    "brand": brand_list,
    "storage": storage_list,
    "price": price_list,
    "ram": ram_list
}
attributes

{'brand': ['Apple', 'LG', 'Samsung', 'Motorola'],
 'storage': [64, 128, 128, 512],
 'price': [900, 850, 875, 1000],
 'ram': [4, 8, 8, 16]}

In [33]:
attributes["brand"][1]

'LG'

In [34]:
attributes.keys()

dict_keys(['brand', 'storage', 'price', 'ram'])

In [35]:
attributes.values()

dict_values([['Apple', 'LG', 'Samsung', 'Motorola'], [64, 128, 128, 512], [900, 850, 875, 1000], [4, 8, 8, 16]])

# Conditional Statement

In [36]:
budget = int(input("Enter your budget:"))
if price <= budget:
    print("Congrats")
else:
    print("Your budget is lesser than price")

Enter your budget:900
Congrats

In [37]:
mem = int(input("enter memory"))
if(mem == 32):
    print("Phone price is $600")
elif(mem == 64):
    print("Phone price is $750")
elif(mem == 128):
    print("Phone price is $900")
else:
    print("Please enter a valid memory size")

enter memory128
Phone price is $900

# Loop

In [38]:
range(6)

range(0, 6)

In [39]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [40]:
list(range(1, 6)) # 1 is inclusive, 6 is exclusive

[1, 2, 3, 4, 5]

In [41]:
list(range(6, 20, 2)) # 6 is inclusive, 20 is exclusive

[6, 8, 10, 12, 14, 16, 18]

In [42]:
price = 900
for i in range(5, 21, 5):
    discount = price * i/100
    discounted_price = price - discount
    print("The price after discount", i, "percent is $", discounted_price)

The price after discount 5 percent is $ 855.0
The price after discount 10 percent is $ 810.0
The price after discount 15 percent is $ 765.0
The price after discount 20 percent is $ 720.0

In [43]:
price = 900
i = 5
while i <= 20:
    discount = price * i/100
    discounted_price = price - discount
    print("The price after discount", i, "percent is $", discounted_price)
    i += 5

The price after discount 5 percent is $ 855.0
The price after discount 10 percent is $ 810.0
The price after discount 15 percent is $ 765.0
The price after discount 20 percent is $ 720.0

# List comprehension

In [44]:
discounted_price_list = []
for x in price_list:
    discounted_price = x - (x * 5/100)
    discounted_price_list.append(discounted_price)
print(discounted_price_list)

[855.0, 807.5, 831.25, 950.0]

In [45]:
discounted_price_list = [x - (x * 5/100) for x in price_list]
print(discounted_price_list)

[855.0, 807.5, 831.25, 950.0]

In [46]:
budget = int(input("enter your budget:"))
within_budget = ['yes' if x <= budget else 'no' for x in price_list]
within_budget

enter your budget:900

['yes', 'yes', 'yes', 'no']

# Function

In [47]:
def display_phone_features(brand, price, ram, storage):
    print(brand)
    print(price)
    print(ram)
    print(storage)
    
display_phone_features("Apple", 900, 4, 64)

Apple
900
4
64

In [48]:
def disc_price(price, discount):
    discounted_price = price - discount
    return discounted_price
    
print(disc_price(900, 10))

890

In [49]:
disc_price_lambda = lambda discount : 900 - (900 * discount / 100)
disc_price_lambda(10)

810.0

# *args

In [50]:
def total_amount(*args):
    total = 0
    for arg in args:
        total += arg
    return total

total_amount(799, 494, 389, 444, 999, 930)

4055

# **kwargs (keyword argument)

In [51]:
def total_discounted_amount(*prices, discount = 0.05): # positional argument should be always first then keyword arguments
    total = 0
    for price in prices:
        total += price
        
    total_discounted_price = total - discount * total
    return total_discounted_price
    
total_discounted_amount(100, 200, 300, 400, 500, 600)

1995.0

In [52]:
def customer_net_spend(*prices, discount=0.0, **kwargs):
    total = 0
    for price in prices:
        total += price
    total_discounted_price = total - discount * total
    net_spend = total_discounted_price - kwargs["cashback"]
    return net_spend
    
additionals = {"cashback": 10}
print(customer_net_spend(100, 200, 300, 400, 500, 600, 700, 800, discount = 0.5, **additionals))

1790.0

In [53]:
def order_summary(*prices, **additionals):
    total = 0
    for price in prices:
        total += price
    net_spend = total - additionals["discount"] * total  - additionals["cashback"]
    if total >= 10000:
        reward_points = 300
    elif total >= 5000:
        reward_points = 200
    elif total >= 2000:
        reward_points = 100
    else:
        reward_points = 0
        
    return total, net_spend, reward_points

additionals = {"discount": 0.05, "cashback": 5}
order_summary(100, 200, 300, 400, 500, 600, **additionals)

(2100, 1990.0, 100)

# OOPS

In [4]:
class My_data_type:
    def __init__(self, val1, val2):
        self.val1 = val1
        self.val2 = val2
        
    def multiply_vals(self):
        return self.val1 * self.val2

me = My_data_type(2, 3)
print(me.val1)
print(me.multiply_vals())

2
6